{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>MedCare+</title>
  <link rel="icon" type="image/x-icon" href="{% static 'logo.png' %}">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway|Candal">
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'home/css/font-awesome.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'home/css/bootstrap.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'home/css/style.css' %}">
  <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
  
  <style>
.social-buttons {
    display: inline-block;
    background: transparent;
    padding: 20px;
    padding-bottom: 5px;
    border-radius: 10px;
    text-align: center;
    margin: 20px 10px;
    /* Helper class to divide the icons */
  }
  .social-buttons .social-margin {
    margin-right: 15px;
  }
  .social-buttons a,
  .social-buttons a:hover,
  .social-buttons a:focus,
  .social-buttons a:active {
    text-decoration: none;
  }
  .social-buttons .social-icon {
    margin-bottom: 15px;
    box-sizing: border-box;
    -moz-border-radius: 138px;
    -webkit-border-radius: 138px;
    border-radius: 138px;
    border: 5px solid;
    text-align: center;
    width: 50px;
    height: 50px;
    display: inline-block;
    line-height: 1px;
    padding-top: 11px;
    transition: all 0.5s;
    /* Facebook Button Styling */
    /* Twitter Button Styling */
    /* Google+ Button Styling */
    /* Linkedin Button Styling */
    /* Pinterest Button Styling */
    /* Behance Button Styling */
    /* Github Button Styling */
    /* Youtube Button Styling */
    /* Soundcloud Button Styling */
  }
  .social-buttons .social-icon:hover {
    transform: rotate(360deg) scale(1.3);
  }
  
  .social-buttons .social-icon.twitter {
    font-size: 22px;
    padding-top: 10px;
    padding-left: 2px;
    border-color: #55acee;
    background-color: #55acee;
    color: #ffffff;
  }
  .social-buttons .social-icon.twitter:hover {
    background-color: #ffffff;
    color: #55acee;
  }
  
  .social-buttons .social-icon.linkedin {
    font-size: 24px;
    padding-top: 8px;
    padding-left: 1px;
    background-color: #0976b4;
    color: #ffffff;
    border-color: #0976b4;
  }
  .social-buttons .social-icon.linkedin:hover {
    background-color: #ffffff;
    color: #0976b4;
  }
  .social-buttons .social-icon.instagram {
    font-size: 22px;
    padding-top: 9px;
    background-color: #cb2027;
    color: #ffffff;
    border-color: #cb2027;
  }
  .social-buttons .social-icon.instagram:hover {
    background-color: #ffffff;
    color: #cb2027;
  }
  
  .social-buttons .social-icon.github {
    font-size: 22px;
    padding-top: 9px;
    background-color: #4183c4;
    color: #ffffff;
    border-color: #4183c4;
  }
  .social-buttons .social-icon.github:hover {
    background-color: #ffffff;
    color: #4183c4;
  }
 
 </style>
 </head>

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
  <!--banner-->
  <section id="banner" class="banner">
    <div class="bg-color">
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="col-md-12">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				      </button>
              <div class="brand">
              <img src="{% static 'home/img/new5.png' %}" class="img-responsive" style="width: 120px; margin-top: -16px;"></a>
            </div>
            </div>
            <div class="collapse navbar-collapse navbar-right" id="myNavbar">
              <ul class="nav navbar-nav">
                <li class="active"><a href="#banner">Home</a></li>
                <li class=""><a href="#service">Services</a></li>
                <li class=""><a href="#about">About</a></li>
                <li class=""><a href="#contact">Contact</a></li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
      <div class="container">
        <div class="row">
          <div class="banner-info">
            <div class="banner-logo text-center">
              <img src="{% static 'logo.png' %}" class="img-responsive" style="width: 140px;">
            </div>
            <div class="banner-text text-center">
              <h1 class="white">MedCare+ at your desk!!</h1>
              <p>This website is specially designed to help different peoples to tell their medicine needs<br>and fullfill them from our services.</p>
              {% for message in messages %}
                <p><li  style="color: red" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li><p>
              {% endfor %}

              {% if request.user.is_authenticated %}
                <div class="link">
                  <a href="#" class="text-decoration-none "><button class="btn btn-primary btn-lg">Dashboard</button></a>                
                  <a href="{% url 'signout' %}" class="text-decoration-none "><button class="btn btn-primary btn-lg">Logout</button></a>                
                </div>
              {% else %}
                <div class="link">
                  <a href="{% url 'signin' %}" class="text-decoration-none "><button class="btn btn-primary btn-lg">SignIn</button></a>                
                  <a href="{% url 'signup' %}" class="text-decoration-none "><button class="btn btn-primary btn-lg">SignUp</button></a>                
                </div>
              {% endif %}
            </div>
           </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ banner-->
  <!--service-->
  <section id="service" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-4">
          <h2 class="ser-title">Our Service</h2>
          <hr class="botm-line">
          <p>Medical care is something everyone needs, it can be easy to forget that medical care is a service and patients are customers. But good customer service is just as important in medicine as it is in any other field, and because people's health is so important, bad medical care or shoddy customer service might cause clients to complain to local licensing boards or engage in other actions that can harm a medical business.</p>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="service-info">
            <div class="icon">
              <i class="fa fa-stethoscope"></i>
            </div>
            <div class="icon-info">
              <h4>24 Hour Support</h4>
              <p>If you have a health concern and can’t reach a doctor right away, or you’re not sure where else to call, you can call our Medical Help Line 24 hours a day, 7 days a week. Once enrolled, this member benefit allows you to speak with an experienced registered nurse to get answers to your questions and find out what steps you need to take. If you are currently a member of Independent Health, you can find the phone number of the 24-Hour Medical Help Line on the back of your Member ID card.<br /><br /> </p>
            </div>
          </div>
          <div class="service-info">
            <div class="icon">
              <i class="fa fa-medkit"></i>
            </div>
            <div class="icon-info">
              <h4>Medicine Needs</h4>
              <p>Medicine can help a person to get recovered and for the people who can not afford expensive
                 medicines. They can use our website service to buy those medicine which are available at our website. </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="service-info">
            <div class="icon">
              <i class="fa fa-user-md"></i>
            </div>
            <div class="icon-info">
              <h4>Medical Assistance</h4>
              <p>Process of providing information, advice, and assistance to patients to improve their health, treatment adherence, and quality of life
              Focuses on open communication between the patient and the provider, shared  decision-making, and a shared goal of alleviating discomfort for the patient.
              Takes into account patients’ individual preferences, concerns, and emotions
              <br /><br /><br /><br />
              </p>
            </div>
          </div>
          <div class="service-info">
            <div class="icon">
              <i class="fa fa-medkit"></i>
            </div>
            <div class="icon-info">
              <h4>Medicine Donate</h4>
              <p>Medicine can help a person to get recovered and for the people who can not afford expensive
                medicines need something to help them. So many persons have some medicine which were left unsued
                and they are of no use for them. So you can help them to get recovered by donating these medicines 
                through our website.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ service-->
  <!--cta-->
  <!--about-->
  <section id="about" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-4 col-xs-12">
          <div class="section-title">
            <h2 class="head-title lg-line">Our Mission</h2>
            <hr class="botm-line">
            <p class="sec-para">To promote awareness among functionaries involved in Health and Hospital Management. To promote research in the field of Health Care.In order to improve the efficiency of Health Care delivery Systems. To promote the development of high quality hospital services and community health care.</p>
            <a href="" style="color: #0cb8b6; padding-top:10px;"></a>
          </div>
        </div>
        <div class="col-md-9 col-sm-8 col-xs-12">
          <div style="visibility: visible;" class="col-sm-9 more-features-box">
            <div class="more-features-box-text">
              <div class="more-features-box-text-icon"> <i class="fa fa-angle-right" aria-hidden="true"></i> </div>
              <div class="more-features-box-text-description">
                <h3>Objective 1:</h3>
                <p>Increase the range of services wherever there are opportunities to meet an area of customer need and demand, on financially viable basis.</p>
              </div>
            </div>
            <div class="more-features-box-text">
              <div class="more-features-box-text-icon"> <i class="fa fa-angle-right" aria-hidden="true"></i> </div>
              <div class="more-features-box-text-description">
                <h3>Objective 2:</h3>
                <p>Provide a platform where some person (by donating medicine) can help others who cant afford to buy Expensive medicines. Which can be life savier for someone.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ about-->
  <!--cta 2-->
  <section id="cta-2" class="section-padding">
    <div class="container">
      <div class=" row">
        <div class="col-md-2"></div>
        <div class="text-right-md col-md-4 col-sm-4">
          <h2 class="section-title white lg-line">« A few words<br> about me »</h2>
        </div>
        <div class="col-md-4 col-sm-5">
          I am  a young Developer in field of Computer Science.My carrer objective is to touch the zenith of career by converting my innovative ideas into fruitful results in competitive industry. 

          <p class="text-right text-primary"><i>— Mayank Aggarwal<br>B.tech COE</i></p>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>
  </section>
  <!--cta-->
  <!--contact-->
  <section id="contact" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="ser-title">Contact us</h2>
          <hr class="botm-line">
        </div>
        <div class="col-md-4 col-sm-4">
          <h3>Contact Info</h3>
          <div class="space"></div>
          <p><i class="fa fa-map-marker fa-fw pull-left fa-2x"></i>Patiala,Punjab<br> India, 147001</p>
          <div class="space"></div>
          <p><i class="fa fa-envelope-o fa-fw pull-left fa-2x"></i>medcareplus@gmail.com</p>
          <div class="space"></div>
          <p><i class="fa fa-phone fa-fw pull-left fa-2x"></i>+1 000 000 0000</p>
        </div>
        <div class="col-md-8 col-sm-8 marb20">
          <div class="contact-info">
            <h3 class="cnt-ttl">Having Any Query! Shoot us a message.</h3>
            <div class="space"></div>
            <div id="sendmessage">Your message has been sent. Thank you!</div>
            <div id="errormessage"></div>
            <form action="https://formspree.io/f/xknazbbb" method="post" role="form" class="contactForm">
              <div class="form-group">
                <input type="text" name="name" class="form-control br-radius-zero" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <input type="email" class="form-control br-radius-zero" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control br-radius-zero" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control br-radius-zero" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                <div class="validation"></div>
              </div>

              <div class="form-action">
                <button type="submit" class="btn btn-form">Send Message</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ contact-->
  <!--footer-->
  <footer id="footer">
    <div class="top-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-4 marb20">
            <div class="ftr-tle white">
              <h4 class="white no-padding">Created By  : </h4>
              <div class="w3-third">
                <div class="img-rounded"> 
                  <a href="https://mayankaggarwal.live/" target="blank" style=" padding-left: 50px;">                    
                      <img src="{% static 'mypic.jpeg' %}" alt="Mayank" width="108" height="108" style="border-radius: 55px 55px 55px 55px; ">
                  </a>
                </div>
                <h4 class="white no-padding">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mayank Aggarwal </h4>
              </div>
            </div>
            </div>
          <div class="col-md-4 col-sm-4 marb20">
            <div class="ftr-tle" style="padding-top:60px;">
              <h4 class="white no-padding">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;© All Copyright Reserved </h4>
              <p></p>
            </div>
            <div class="info-sec">
              
            </div>
          </div>
          <div class="col-md-4 col-sm-4 marb20">
            <div class="ftr-tle">
              <h4 class="white no-padding">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Connect With Me </h4>
            </div>
            
            <footer class="w3-container w3-padding-32 w3-indigo">
              <div class="w3-row-padding">
                <div class="w3-third">
                  <div class="social-buttons">        
                                          
                            <!-- LinkedIn Button -->
                            <a href="https://www.linkedin.com/in/maggarwal04/" class="social-margin" target="blank">
                              <div class="social-icon linkedin">
                                <i class="fa-brands fa-linkedin" aria-hidden="true"></i>
                              </div> 
                            </a>
                            <!-- instagram Button -->
                            <a href="https://www.instagram.com/mayank._.2036/" target="blank"  class="social-margin">
                              <div class="social-icon instagram">
                                <i class="fa-brands fa-instagram" aria-hidden="true"></i>
                              </div>
                            </a>
                          <!-- Github Button -->
                            <a href="https://github.com/mayank-0407/"  target="blank"  class="social-margin">
                              <div class="social-icon github">
                                <i class="fa-brands fa-github-alt" aria-hidden="true"></i>
                              </div>
                            </a>
                            
                            
                    </div>
                </div>
                </p>
                </div>
              </div>
            </footer>
            
          </div>
        </div>
        </div>
      </div>
    </div>
  </footer>
  <!--/ footer-->

  <script src="{% static 'home/js/jquery.min.js' %}"></script>
  <script src="{% static 'home/js/jquery.easing.min.js' %}"></script>
  <script src="{% static 'home/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'home/js/custom.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>
</body>

</html>
